* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    height: 100%;
    /*background-image: url("background.png");*/
    background:rgb(7, 181, 229);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    color: black;
}

.dashboard-container {
    padding: 20px;
    /* background-image: url("imagebackground.png"); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

h1 {
    font-size: 24px;
    margin-left: 60px;
}

/* Navbar Styling */
.navbar {
    display: flex;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: auto;
    margin-left: 60px;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #19376D;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #3457b2;
}


input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="date"], 
input[type="number"], 
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black; 
    background-color: transparent; 
    width: 100%; 
    font-size: small;
    color: black; 
    font-weight: bold;
}
#gender{
    
    transform: translateX(-3px);
}

/* Optional: To improve visibility of placeholder text */
input::placeholder,
select {
    color: rgba(255, 255, 255, 0.7); /* Lighter placeholder color */
}
.dashboard-container .search{
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 40%; 
    font-size: small;
    background-color: white;
    color: black;
}
.dashboard-container input::placeholder,
select {
    color: rgba(10, 9, 9, 0.7); /* Lighter placeholder color */
    transform: translateX(20px);
}

button {
    background-color: #28a745; /* Changed the button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #218838; 
}

.container {
    width: 60%;
    margin: 40px auto;
    background-color: white;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

fieldset {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    width: 48%;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 5px;
}

i{
    color: black;
    transform: translateX(65px);
    color: rgba(10, 9, 9, 0.7);
    font-size: 14px;
}